.temperature-container {
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 0.5rem 0.5rem 0.5rem;
    margin: 0.5rem;
    background-color: white;
}

.temperature-title {
    color: darkblue;
}

.temperature-display {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
}

.temperature-veriable {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
}